.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgba(38, 37, 34, 0.24);
	border-radius: 32px;
	padding: 16px 24px;
	width: 1312px;
	height: 70px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	margin-right: 8px;
}

.logo div {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 15px;
	line-height: 100%;
	color: var(--dark);
}

.menu {
	display: flex;
	gap: 24px;
	align-items: center;

}

.menu a {
  position: relative;  /* важно для позиционирования псевдоэлемента */
  display: flex;
  align-items: center;
  height: 30px;
  padding: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: rgba(38, 37, 34, 0.08);
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
}

.menu a:hover {
	color: var(--dark);
}

.menu a.active {
	color: var(--dark);
}

.menu a.active::after {
  content: '';
  position: absolute;
  bottom: 0px;        /* расстояние от текста до полоски */
  left: 0px;           /* отступ слева, чтобы совпадал с padding */
  right: 0px;          /* отступ справа */
  height: 4px;
  background-color: var(--primary-color-3); /* красный */
  border-radius: 0 0 4px 4px;  /* скругление только нижних углов */
  /* если нужны скругления всех углов, то border-radius: 4px; */
}